#!/usr/bin/env sh

set -o errexit -o nounset

destdir=~/.oh-my-zsh/custom/themes/spaceship-prompt

echo "Execute $0..."

[ -L "${destdir}"/spaceship.zsh-theme ] \
  || ln -s ${destdir}/spaceship.zsh-theme ~/.oh-my-zsh/custom/themes/spaceship.zsh-theme

zsh=$(whereis zsh | awk '{print $2}')

if ! grep "^$USER" /etc/passwd | grep -q zsh ; then
  chsh -s "$zsh"
fi
