#!/usr/bin/env sh

set -o errexit

xst_version="master"

cyan="\033[1;36m"
white="\033[0;38m"
endc="\033[0m"

die() { echo "[-] $1"; exit 1; }

msg() {
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
  echo "$cyan-->$white End for $0 $endc"
  echo "$cyan--------------------------------------------------$endc"
}

trap bye EXIT

msg "Execute $0..."

args="--deps --emacs --vim"

{{ if eq .system.sound "alsa" }}
args="$args --sound-alsa"
{{ end }}

{{ if eq .system.sound "pulseaudio" }}
args="$args --sound-pulse"
{{ end }}

args="$args --extra-deps"

script="{{ .chezmoi.sourceDir }}/scripts/{{ .osRelease.id }}.sh"

[ -f "$script" ] || die "Your distro {{ .osRelease.id }} is not yet supported."

echo "Running after $script"
#. "$script" $args
