#!/usr/bin/env sh

set -o errexit -o nounset

echo "Running before chezmoiexternal"
echo "{{ .chezmoi.osRelease.id }}"

lib="{{ .chezmoi.sourceDir }}/scripts/lib.sh"
script_dir="{{ .chezmoi.sourceDir }}/scripts/{{ .chezmoi.osRelease.id }}"

. "$lib"

[ -d "$script_dir" ] \
  || die "Your distro {{ .chezmoi.osRelease.id }} is not yet supported."

search_auth

echo "Running before $script"

"$AUTH" . "$script_dir/deps.sh"

. "$script_dir/access.sh"
