{{- $email := promptString "email" -}}
[gpg]
  recipient = "id for the encrypt key"
[data]
  email = "{{ $email }}"
  theme = "sci" # first theme
  [data.github]
    email = "{{ $email }}"
    theme = "username"
  [data.gpgkey]
    sign = "id for the sign key" 
    encrypt = "id for the encrypt key"
  [data.system]
    sound = "alsa" # remove the line if you do not want alsa
