{{- $email := promptString "email" -}}
[gpg]
  recipient = "id for the encrypt key"
[data]
  name = "username"
  [data.github]
    email = "{{ $email }}"
    name = "username"
  [data.gpgkey]
    sign = "id for the sign key" 
    encrypt = "id for the encrypt key"
  [data.system]
    sound = "alsa" # set alsa or pulseaudio here
    soundcard = "0" # default sound card to use (pactl list sinks short)
