# PATH
PATH="$HOME/bin:$PATH"

# https://wiki.archlinux.org/title/Ruby#Setup
if hash ruby 2>/dev/null ; then
  export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
  PATH="$PATH:$GEM_HOME/bin"
fi

if hash yarn 2>/dev/null ; then
  PATH="$PATH:${HOME}/.yarn/bin"
fi

[ -d $HOME/.emacs.d/bin ] && PATH="$HOME/.emacs.d/bin:$PATH"

export PATH

# Locale
export LANG=en_US.UTF-8

export TERMINAL=xst
export TERM=xst-256color

# GPG
export GPG_TTY=$(tty)
export GPG_AGENT_INFO=""

# Editor
export VISUAL=vim
export EDITOR={{ .system.editor }}
export SUDO_EDITOR={{ .system.editor }}

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Ansible
export ANSIBLE_CONFIG="$HOME"/.config/ansible/ansible.cfg

