[user]
  name = {{ .github.name }}
  email = {{ .github.email }}
  signingkey = {{ .gpgkey.sign }}

[commit]
  gpgsign = true

[core]
  editor = vim
  autocrlf = true

{{- if eq .github.name "szorfein" }}
[url "git@github.com:szorfein"]
  insteadOf = https://github.com/szorfein
{{- end }}
