[user]
  name = {{ .github.name }}
  email = {{ .github.email }}
  {{- if .gpgkey.sign }}
  signingkey = {{ .gpgkey.sign }}
  {{- end }}

[commit]
  {{- if .gpgkey.sign }}
  gpgsign = true
  {{- end }}

[core]
  editor = {{ .system.editor }}
  autocrlf = input

[init]
  defaultBranch = main

{{- if eq .github.name "szorfein" }}
[url "git@github.com:szorfein"]
  insteadOf = https://github.com/szorfein
{{- end }}
