#!/usr/bin/env sh

LAST_THEME="sci"
DOTS={{ .chezmoi.homedir }}/.dotfiles
DEST={{ .chezmoi.homedir }}

apply() {
  # Remove old link
  stow -D $1 -t $DEST

  # Install new link
  stow $1 -t $DEST
}

apply_theme() {
  (cd themes \
    && stow -D $1 -t $DEST \
    && stow $1 -t $DEST
  )
}

(cd $DOTS \
  && apply zsh \
  && apply ncmpcpp \
  && apply vifm \
  && apply vim \
  && apply .x \
  && apply picom \
  && apply tmux \
  && apply awesomewm \
  && apply_theme $LAST_THEME
)

# wallpapers
(cd $DOTS \
  && ./install --images
)

# vimcolors
(cd $DOTS \
  && ./install --vim
)
