#!/usr/bin/env sh

cyan=$'\e[0;96m'
white=$'\e[0;97m'
endc=$'\e[0m'

msg() {
  echo ""
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
    echo "$cyan-->$white End for $0 $endc"
    echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

services="gpg-agent.socket gpg-agent-ssh.socket mpd.service fdm.timer"
systemctl="systemctl --user"

for service in $services ; do
  echo -n "$service... "
  if ! $systemctl is-enabled $service ; then $systemctl enable $service ; fi
  echo -n "$service... "
  if ! $systemctl is-active $service ; then $systemctl start $service ; fi
done

services_system="lightdm"
systemctl="sudo systemctl"
for service in $services_system ; do
  echo -n "$service..."
  if ! $systemctl is-enabled $service ; then $systemctl enable $service ; fi
done

echo ""
# Configure lightdm here
cat << EOF | sudo tee /etc/lightdm/lightdm-gtk-greeter.conf
[greeter]

# Appearance
#icon-theme-name = Papyrus-Dark
background = #101010
#background = /usr/share/pixmaps/lock_saturate.jpg
#background = /home/$USER/images/bg.jpg
theme-name=Adwaita-dark
user-background = false
transition-duration = 500
transition-type = ease-in-out

# Login window
default-user-image =
hide-user-image = true

# Panel
indicators =

# Security
allow-debugging = false
laptop = false
EOF

trap bye EXIT
