#!/usr/bin/env sh

set -o errexit

cyan=$'\e[0;96m'
white=$'\e[0;97m'
endc=$'\e[0m'

msg() {
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
    echo "$cyan-->$white End for $0 $endc"
    echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

if hash emerge 2>/dev/null ; then

  # need my repo ninjatools for gentoo
  REPO=/var/db/repos
  CONF=/etc/portage/repos.conf

  [ -d $REPO/ninjatools ] || mkdir -p $REPO/ninjatools

  [ -d $REPO/ninjatools ] || {
    [ -d $CONF ] || mkdir -p $CONF
    sudo curl -L -o /etc/portage/repos.conf/ninjatools.conf https://raw.githubusercontent.com/szorfein/ninjatools/master/ninjatools.conf
    sudo emaint sync -r ninjatools
  }
fi

# save the full path of systemctl
SYSTEMCTL=$(whereis systemctl | awk '{print $2}')

# make all buttons for the logout work - post an issue if you think it's not secure enough
cat << EOF | sudo tee /etc/sudoers.d/dots
$USER ALL=(ALL) NOPASSWD: $SYSTEMCTL poweroff
$USER ALL=(ALL) NOPASSWD: $SYSTEMCTL reboot
$USER ALL=(ALL) NOPASSWD: $SYSTEMCTL restart tor
EOF

trap bye EXIT
