#!/usr/bin/env sh

set -e

DIR="${HOME}/.config/awesome/config"
DEST="$DIR/env.lua"

[ -d "$DIR" ] || mkdir -p "$DIR"

cat <<EOF | tee "$DEST"
terminal = os.getenv("TERMINAL") or "xst"
terminal_cmd = terminal .. " -e "
editor = os.getenv("EDITOR") or "vim"
editor_cmd = terminal .. " -e " .. editor
{{- if eq .system.sound "alsa" }}
  {{- if eq .chezmoi.osRelease.id "arch" }}
web_browser = "brave"
  {{- else }}
web_browser = "brave-bin"
  {{- end }}
{{ else }}
web_browser = "firefox-bin"
{{ end -}}

file_browser = "vifm"
terminal_args = { " -c ", " -e " }
sound_system = "{{ .system.sound }}"
sound_card = "{{ .system.soundcard }}"
cpu_core = $(nproc) or 1
password = "awesome"
EOF
