#!/usr/bin/env sh

install_packages() {
  pkg=${2:-$1}
  if ! hash $1 &>/dev/null ; then
    sudo $ins $pkg
  fi
}

ins_short() {
  for i in $@ ; do
    if ! hash $i &>/dev/null ; then
      sudo $ins $i
    fi
  done
}

euse_pkg() {
  if ! grep -q $2 /etc/portage/package.use/${1#*/} ; then
    sudo euse -p $2 -E $1
  fi
}

euse_global() {
  if ! grep -q $1 /etc/portage/make.conf ; then
    sudo euse -E $1
  fi
}

bye() {
  echo
  echo "Install done, Bye"
  echo
}

if hash emerge &>/dev/null ; then
  ins="emerge -av"

  # env
  install_packages euse gentoolkit
  euse_global zsh-completion

  install_packages gpg gnupg

  # for pass
  euse_pkg app-admin/pass X
  ins_short zsh awesome pass

elif hash pacman &>/dev/null ; then
  ins="pacman -S"

  install_packages gpg gnupg
  ins_short zsh awesomewm pass
fi

trap bye EXIT
