#!/usr/bin/env sh

set -o errexit

DOTS={{ .chezmoi.homedir }}/.dotfiles
DEST={{ .chezmoi.homedir }}

if cat /tmp/awesome-theme 2>/dev/null ; then
  LAST_THEME="$(cat /tmp/awesome-theme)"
else
  LAST_THEME="lines"
fi

apply() {
  # Install new link
  stow "$1" -t "$DEST"
}

apply_theme() {
  echo ""
  echo "Applying themes/$LAST_THEME"
  (cd themes \
    && stow -D "$1" -t "$DEST" \
    && stow "$1" -t "$DEST"
  )
}

# Remove any previous stow links
echo "Removing old Stow links..."
for dir in zsh ncmpcpp vifm vim .x picom tmux awesomewm; do
  cd "$DOTS"
  [ -d "$dir" ] && stow -D "$dir" -t "$DEST"
done

echo "Applying Stow links..."
(cd $DOTS \
  && apply ncmpcpp \
  && apply vifm \
  && apply .x \
  && apply picom \
  && apply tmux \
  && apply awesomewm \
  && apply_theme "$LAST_THEME"
)

{{ if eq .system.editor "vim" }}
(cd "$DOTS" \
  && apply vim \
  && apply tmux \
  && ./install --vim --vimplugins
)
{{ end }}

# wallpapers and vimcolor
(cd $DOTS \
  && ./install --images --fonts
)
