#!/usr/bin/env sh

dll() {
  url="$2"
  wget -O ~/images/$1 "https://api.pcloud.com/getpubthumb?code=${url#*=}&linkpassword=undefined&size=2048x2048&crop=0&type=auto"

}

[ -f ~/images/sci.jpg ] ||
  dll sci.jpg https://my.pcloud.com/publink/show?code=XZbGKPkZzd7BXQPfS6FnAM2pjpddW8CYdjyy
