#!/usr/bin/env sh

DOTS={{ .chezmoi.homedir }}/.dotfiles
DEST={{ .chezmoi.homedir }}

# remove old links
(cd $DOTS \
  && stow -D zsh -t $DEST \
  && stow -D ncmpcpp -t $DEST \
  && stow -D vifm -t $DEST \
  && stow -D vim -t $DEST \
  && stow -D .x -t $DEST \
  && stow -D theme-{{ .theme }} -t $DEST
)

# install new links
(cd $DOTS \
  && stow zsh -t $DEST \
  && stow ncmpcpp -t $DEST \
  && stow vifm -t $DEST \
  && stow vim -t $DEST \
  && stow .x -t $DEST \
  && stow theme-{{ .theme }} -t $DEST
)
