#!/usr/bin/env sh

set -o errexit -o nounset

cyan=$'\e[0;96m'
white=$'\e[0;97m'
endc=$'\e[0m'

msg() {
  echo ""
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
    echo "$cyan-->$white End for $0 $endc"
    echo "$cyan--------------------------------------------------$endc"
}

dll_git() {
  destdir=$vim_dir/$2
  [ -d "$destdir" ] && rm -rf "$destdir"
  git clone "$1" "$destdir"
}

dll_tar() {
  destdir=$vim_dir/$2
  [ -d "$destdir" ] && rm -rf "$destdir"
  mkdir -p $destdir
  curl -s -L "$1" | tar -C "$destdir" --strip-components=1 -xzf -
}

msg "Execute $0..."

vim_dir=$HOME/.vim/pack/my-plugins/start

[ -d $vim_dir ] || mkdir -p $vim_dir

ALE_PV="3.0.0" # https://github.com/dense-analysis/ale/releases
DEVICON_PV="0.11.0" # https://github.com/ryanoasis/vim-devicons/releases

# utils
dll_tar https://github.com/dense-analysis/ale/archive/v$ALE_PV.tar.gz ale
dll_tar https://github.com/ryanoasis/vim-devicons/archive/v$DEVICON_PV.tar.gz vim-devicons

dll_git https://github.com/lilydjwg/colorizer colorizer
dll_git https://github.com/Yggdroot/indentLine indentLint
dll_git https://github.com/itchyny/lightline.vim lightline
dll_git https://github.com/mengelbrecht/lightline-bufferline lightline-bufferline
dll_git https://github.com/airblade/vim-gitgutter.git vim-gitgutter
dll_git https://github.com/christoomey/vim-tmux-navigator vim-tmux-navigator

trap bye EXIT
