#!/usr/bin/env sh

OH_MY_ZSH=~/.oh-my-zsh
ZSH_CUSTOM=$OH_MY_ZSH/custom
SPACESHIP=$ZSH_CUSTOM/themes/spaceship-prompt

echo "Execute $0..."

dll() {
  [ -d $2 ] || git clone $1 $2
}

dll https://github.com/robbyrussell/oh-my-zsh.git $OH_MY_ZSH
dll https://github.com/denysdovhan/spaceship-prompt.git $SPACESHIP

# create symbolic link
[ -L $ZSH_CUSTOM/themes/spaceship.zsh-theme ] ||
  ln -s $ZSH_CUSTOM/themes/spaceship-prompt/spaceship.zsh-theme $ZSH_CUSTOM/themes/spaceship.zsh-theme

