#!/usr/bin/env sh

cyan=$'\e[0;96m'
white=$'\e[0;97m'
endc=$'\e[0m'

msg() {
  echo ""
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
    echo "$cyan-->$white End for $0 $endc"
    echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

add_dir() {
  [ -d $1 ] || mkdir -p $1
}

add_file() {
  [ -f $1 ] || touch $1
}

# dirs
add_dir ~/.vim
add_dir ~/images
add_dir ~/musics
add_dir ~/.config/mpd/playlists
add_dir ~/.mails/INBOX/new
add_dir ~/.mails/INBOX/cur
add_dir ~/.mails/INBOX/tmp
add_dir ~/.mails/Junk
add_dir ~/.config/awesome/config

chmod -R 700 ~/.mails

# files
add_file ~/.config/mpd/database
add_file ~/.config/mpd/state

trap bye EXIT
