#!/usr/bin/env sh

install_packages() {
  pkg=${2:-$1}
  if ! hash $1 &>/dev/null ; then
    sudo $ins $pkg
  fi
}

euse_pkg() {
  if ! grep -q $2 /etc/portage/package.use/${1#*/} 2>/dev/null ; then
    sudo euse -p $1 -E $2
  fi
}

euse_pkg_disable() {
  if ! grep -q "\-$2" /etc/portage/package.use/${1#*/} 2>/dev/null ; then
    sudo euse -p $1 -D $2
  fi
}

euse_global() {
  if ! grep -q $1 /etc/portage/make.conf ; then
    sudo euse -E $1
  fi
}

euse_global_disable() {
  if ! grep -q "\-$1\|\-\*" /etc/portage/make.conf 2>/dev/null ; then
    sudo euse -D $1
  fi
}

bye() {
  echo
  echo "Install done, Bye"
  echo
}

if hash emerge &>/dev/null ; then
  ins="emerge -av --changed-use"

  # env
  install_packages euse gentoolkit
  euse_global_disable deprecated
  euse_global zsh-completion

  {{- if eq .system.sound "alsa" }}

  euse_global alsa
  euse_global ffmpeg
  euse_global ladspa 
  euse_global speex
  euse_global libsamplerate

  sudo $ins alsa-utils tap-plugins swh-plugins libsamplerate ladspa-cmt caps-plugins ladspa-bs2b alsa-plugins

  {{- end }}

  # for vim
  euse_pkg app-editors/vim X

  # for pass
  euse_pkg app-admin/pass X

  # ncmpcpp
  euse_pkg media-sound/ncmpcpp taglib
  euse_pkg dev-libs/boost icu

  # mpd
  euse_pkg_disable media-sound/mpd network

  sudo $ins gnupg pass vim zsh awesome mpd ncmpcpp

elif hash pacman &>/dev/null ; then
  ins="pacman -S --needed"

  {{ if eq .system.sound "alsa" }}

  sudo $ins alsa-utils alsa-plugins ladspa swh-plugins libsamplerate

  {{ end }}

  sudo $ins gnupg pass xclip vim zsh awesomewm mpd ncmpcpp
fi

trap bye EXIT
