#!/usr/bin/env sh

set -o errexit

if cat /tmp/awesome-theme 2>/dev/null ; then
  LAST_THEME="$(cat /tmp/awesome-theme)"
else
  LAST_THEME="lines"
fi

DOTS={{ .chezmoi.homedir }}/.dotfiles
DEST={{ .chezmoi.homedir }}

apply() {
  # Remove old link
  stow -D $1 -t $DEST

  # Install new link
  stow $1 -t $DEST
}

apply_theme() {
  echo ""
  echo "Applying themes/$LAST_THEME"
  (cd themes \
    && stow -D $1 -t $DEST \
    && stow $1 -t $DEST
  )
}

(cd $DOTS \
  && apply zsh \
  && apply ncmpcpp \
  && apply vifm \
  && apply vim \
  && apply .x \
  && apply picom \
  && apply tmux \
  && apply awesomewm \
  && apply_theme $LAST_THEME
)

# wallpapers and vimcolor
(cd $DOTS \
  && ./install --images --vimplugins --vim --fonts
)
