{{- $personal := false -}}{{/* true if able to update my github repository */}}
{{- $secrets := false -}}{{/* true if this machine store secrets with gpg and pass */}}

{{- $username := promptString "username" -}}
{{- $email := false -}}
{{- $gpu_driver := "none" -}}
{{- $keymap := "en" -}}{{/* keymap used for Xorg or Wayland */}}
{{- $soundcard := "0" -}}
{{- $dm := "" -}}
{{- $wm := "awm-m3" -}}
{{- $editor := "vim" -}}

{{/* GPG, ID for key [C] [S] [E] */}}
{{- $key_recipient := false -}}
{{- $key_sign := false -}}
{{- $key_encrypt := false -}}

{{- if eq $username "szorfein" -}}
{{- $email = "szorfein@protonmail.com" -}}
{{- $key_recipient = "B5D8FFD0D7F1FB6A43505E319CC9729A2E369CB3" -}}
{{- $key_sign = "8E3785DE31AAE73F98098744FD696BDDAA8FDC50" -}}
{{- $key_encrypt = "59154216260D8EA2580DF9D4E2ADD2080A6B28AE" -}}
{{- $personal = true -}}
{{- $secrets = true -}}
{{- $keymap = "fr" -}}
{{- end -}}

{{/* Configs based on board_name */}}
{{- $fullpath := printf "%s/%s" .chezmoi.homeDir ".local/share/chezmoi/home/scripts/board_name.sh" -}}
{{- $board_name := output $fullpath | trim -}}
{{- if eq $board_name "W51XTU" -}}
{{- $soundcard = "hw:PCH" -}}
{{- $gpu_driver = "intel_gen7" -}}
{{- $dm = "sddm" -}}
{{- $wm = "swayfx" -}}
{{- $editor = "neovim" -}}
{{- else if eq $board_name "Dazzle_CX" -}}
{{- $gpu_driver = "nouveau" -}}
{{- $soundcard = "hw:PCH" -}}
{{- $dm = "sddm" -}}
{{- else if eq $board_name "PRIME H510M-K" -}}
{{- $gpu_driver = "intel" -}}
{{- $soundcard = "hw:PCH" -}}
{{- $dm = "lightdm" -}}
{{- end -}}

{{- if $secrets -}}
encryption = "gpg"
[gpg]
  recipient = "{{ $key_recipient }}"
{{ end -}}
[data]
  name = "{{ $username }}"
  editor = {{ $editor | quote }} # favorite editor, 'vim', 'doom' or 'neovim'.
  email = "{{ $email }}"
  gpu = {{ $gpu_driver | quote }} # 'intel' (gen8+), 'intel_gen7' or 'nouveau'.
  key_encrypt = "{{ $key_encrypt }}"
  key_recipient = "{{ $key_recipient }}"
  key_sign = "{{ $key_sign }}"
  keymap = {{ $keymap | quote }}
  personal = {{ $personal }}
  secrets = {{ $secrets }}
  sound = "alsa" # set alsa or pulseaudio here
  sound_card = {{ $soundcard | quote }}
  web = "brave" # 'brave' or 'librewolf'
  dm = {{ $dm | quote }} # '', 'sddm', 'lightdm' or 'lxdm'. Prefer 'lightdm' or lxdm with musl.
  wm = {{ $wm | quote }} # 'awm-m2' (old awm+X), 'awm-m3' (awm+X), 'swayfx' (wayland)
