{{- $fullpath := printf "%s/%s" .chezmoi.sourceDir "scripts/board_name.sh" -}}
{{- $board_name := output $fullpath | trim -}}
{{- if eq $board_name "W51XTU" -}}
export EWW_SCALE=0.8443388199535182
{{- else if eq $board_name "PRIME H510M-K" -}}
export EWW_SCALE=0.6026469870525034
{{- else }}
export EWW_SCALE=1.0
{{- end -}}
