[user]
  name = {{ .name }}
  email = {{ .email }}
  {{- if .key_sign }}
  signingkey = {{ .key_sign }}
  {{- end }}

[commit]
  {{- if .key_sign }}
  gpgsign = true
  {{- end }}

[core]
{{- if eq .editor "vim" }}
  editor = vim
{{- else if eq .editor "neovim" }}
  editor = nvim
{{- end }}
  autocrlf = input
  # https://github.com/git/git/security/advisories/GHSA-8prw-h3cq-mghm
  symlinks = false

## https://forums.whonix.org/t/git-users-enable-fsck-by-default-for-better-security/2066
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckobjects = true

[init]
  defaultBranch = main

{{- if eq .name "szorfein" }}
[url "git@github.com:szorfein"]
  insteadOf = https://github.com/szorfein
{{- end }}
{{- if eq .editor "vim" "neovim" }}
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
{{- end }}
