[user]
  name = {{ .name }}
  email = {{ .email }}
  {{- if .key_sign }}
  signingkey = {{ .key_sign }}
  {{- end }}

[commit]
  {{- if .key_sign }}
  gpgsign = true
  {{- end }}

[core]
  editor = {{ .editor }}
  autocrlf = input

[init]
  defaultBranch = main

{{- if eq .name "szorfein" }}
[url "git@github.com:szorfein"]
  insteadOf = https://github.com/szorfein
{{- end }}
{{- if eq .editor "vim" "neovim" }}
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
{{- end }}
