{{- if (and (eq .sound_card "Pro") (ne .wm "swayfx")) }}
{{ .chezmoi.sourceDir }}/asound/dot_asoundrc_pro
{{- else if (and (eq .sound_card "PCH") (ne .wm "swayfx")) }}
{{ .chezmoi.sourceDir }}/asound/dot_asoundrc_dmix
{{- end }}
