#!/usr/bin/env sh

set -o errexit -o nounset

# Gentoo install binary of gems in $HOME/bin (gem env)

export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:$GEM_HOME/bin:$HOME/bin"

gem install reaver

{{ if eq .wm "swayfx" }}
gem install i3ipc
{{ end }}

echo "Downloading things with reaver.."
reaver
