#!/usr/bin/env sh

set -o errexit -o nounset

script_dir="{{ .chezmoi.sourceDir }}/scripts"
os_dir="$script_dir/{{ .chezmoi.osRelease.id }}"

. "$script_dir/lib.sh"

[ -d "$os_dir" ] \
  || die "Your distro {{ .chezmoi.osRelease.id }} is not yet supported."

msg "pre-requisite for {{ .chezmoi.osRelease.id }}"

search_auth

. "$os_dir/deps.sh"

. "$script_dir/access.sh"
