#!/usr/bin/env sh

. $HOME/.local/share/chezmoi/home/scripts/lib.sh

AUTH=$(search_auth)

user_systemd_service() {
  systemctl="systemctl --user"
  for service in $@ ; do
    if ! $systemctl is-enabled $service ; then $systemctl enable $service ; fi
    if ! $systemctl is-active $service ; then $systemctl start $service ; fi
  done
}

msg "Execute $0..."

if hash systemctl 2>/dev/null ; then
  user_systemd_service "gpg-agent.socket gpg-agent-ssh.socket mpd.service"

  {{ if .secrets }}
  user_systemd_service "mbsync.timer"
  {{ end }}
fi
