#!/usr/bin/env sh

set -o errexit -o nounset

playbook_dir=~/ansible

script_dir="{{ .chezmoi.sourceDir }}/scripts"

. "$script_dir/lib.sh"

msg "Execute ansible playbook dotfiles.yml..."

cd "$playbook_dir"

ansible-playbook --inventory hosts --ask-become-pass dotfiles.yml
