#!/usr/bin/env sh

set -o errexit

. $HOME/.local/share/chezmoi/home/scripts/lib.sh

xst_version="master"

msg "Execute $0..."

args="--deps --emacs --vim"

{{ if eq .sound "alsa" }}
args="$args --sound-alsa"
{{ end }}

{{ if eq .sound "pulseaudio" }}
args="$args --sound-pulse"
{{ end }}

args="$args --extra-deps"

if hash emerge 2>/dev/null ; then

  . {{ .chezmoi.sourceDir }}/scripts/gentoo.sh $args

elif hash pacman 2>/dev/null ; then

  . {{ .chezmoi.sourceDir }}/scripts/archlinux.sh $args

elif hash apt-get 2>/dev/null ; then

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

elif hash xbps-install 2>/dev/null ; then

  sh {{ .chezmoi.sourceDir }}/scripts/void.sh $args

fi
