#!/usr/bin/env sh

cyan="\033[0;96m"
white="\033[0;97m"
endc="\033[0m"

msg() {
  echo ""
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
    echo "$cyan-->$white End for $0 $endc"
    echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

if hash systemctl 2>/dev/null ; then
  services="gpg-agent.socket gpg-agent-ssh.socket mpd.service fdm.timer"
  systemctl="systemctl --user"

  for service in $services ; do
    echo -n "$service... "
    if ! $systemctl is-enabled $service ; then $systemctl enable $service ; fi
    echo -n "$service... "
    if ! $systemctl is-active $service ; then $systemctl start $service ; fi
  done

  services_system="lightdm"
  systemctl="sudo systemctl"
  for service in $services_system ; do
    echo -n "$service..."
    if ! $systemctl is-enabled $service ; then $systemctl enable $service ; fi
  done
fi

echo "Installing Lightdm config..."
FILE="/tmp/lightdm-$$"

cat >"$FILE" <<EOF
[greeter]

# Appearance
icon-theme-name = Papyrus-Dark
font-name = Iosevka Term Medium 12
background = #222222
theme-name = Arc-Dark
user-background = false
transition-duration = 500
transition-type = ease-in-out

# Login window
default-user-image =
hide-user-image = true

# Panel
indicators = ~session;~spacer;~spacer;~layout;~~ ;~clock

# Security
allow-debugging = false
laptop = false
EOF

sudo install -m0644 "$FILE" /etc/lightdm/lightdm-gtk-greeter.conf

trap bye EXIT
