#!/usr/bin/env sh

. $HOME/.local/share/chezmoi/home/scripts/lib.sh

msg "Execute $0..."

add_dir() {
  [ -d $1 ] || mkdir -p $1
}

add_file() {
  [ -f $1 ] || touch $1
}

# dirs
add_dir ~/images
add_dir ~/musics
add_dir ~/.config/mpd/playlists
add_dir ~/.mail/Personal
add_dir ~/.config/awesome/config

chmod -R 700 ~/.mail

# files
add_file ~/.config/mpd/database
add_file ~/.config/mpd/state
add_file ~/.mail/div1
add_file ~/.mail/div2
