#!/usr/bin/env sh

# archlinux.sh hash: {{ include "scripts/archlinux.sh" | sha256sum }}
# gentoo.sh hash: {{ include "scripts/gentoo.sh" | sha256sum }}
# void.sh hash: {{ include "scripts/void.sh" | sha256sum }}

set -o errexit

. $HOME/.local/share/chezmoi/home/scripts/lib.sh

msg "Execute $0..."

args="--zsh --extra-deps"

{{ if eq .wm "awm-m2" "awm-m3" }}
args="$args --awesome"
{{ end }}

{{ if eq .wm "swayfx" }}
args="$args --swayfx"
{{ end }}

{{ if eq .sound "alsa" }}
args="$args --sound-alsa"
{{ end }}

{{ if eq .sound "pulseaudio" }}
args="$args --sound-pulse"
{{ end }}

{{ if eq .editor "doom" }}
args="$args --emacs
{{ end }}

{{ if eq .editor "neovim" }}
args="$args --neovim"
{{ end }}

{{ if eq .web "brave" }}
args="$args --brave"
{{ end }}

{{ if eq .web "librewolf" }}
args="$args --librewolf"
{{ end }}

if hash emerge 2>/dev/null ; then

  . {{ .chezmoi.sourceDir }}/scripts/gentoo.sh $args

elif hash pacman 2>/dev/null ; then

  . {{ .chezmoi.sourceDir }}/scripts/archlinux.sh $args

elif hash apt-get 2>/dev/null ; then

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

elif hash xbps-install 2>/dev/null ; then

  sh {{ .chezmoi.sourceDir }}/scripts/void.sh $args

fi
