#!/usr/bin/env sh

set -o errexit

DOTFILES_DIR="$HOME/.dotfiles"

# should only impact if .personal = true
[ -d "$DOTFILES_DIR/.git" ] || exit 0

{{- if eq .wm "awm-m2" "awm-m3" }}
CURR=$(pwd)
cd "$DOTFILES_DIR"
git checkout -b focus-2.0.0 origin/focus-2.0.0 || true
cd "$CURR"
{{- end }}

exit 0
