#!/usr/bin/env sh

set -o errexit

OLD_AWM_THEME=""
NEW_AWM_THEME=""
DOTS="$HOME"/.dotfiles
DEST="$HOME"

[ -f /tmp/awesome-theme ] && OLD_AWM_THEME="$(cat /tmp/awesome-theme)"

if [ -f /tmp/awm-m3 ] ; then
  NEW_AWM_THEME="$(cat /tmp/awm-m3)"
else
  NEW_AWM_THEME="focus"
fi

apply() {
  # Install new link
  stow "$1" -t "$DEST"
}

apply_theme() {
  echo ""
  echo "Applying themes-m3/$LAST_THEME"
  (cd themes-m3 \
    && stow -D "$1" -t "$DEST" \
    && stow "$1" -t "$DEST"
  )
}

# Remove any previous stow links
echo "Removing old Stow links..."
for dir in ncmpcpp vifm .x tmux vim zsh awesomewm awm-m3 zsh; do
  cd "$DOTS"
  [ -d "$dir" ] && stow -D "$dir" -t "$DEST"
done

if [ "$OLD_AWM_THEME" ] ; then
  echo "Removing older theme..."
  cd "$DOTS/themes"
  stow -D "$OLD_AWM_THEME" -t "$DEST"
fi

echo "Applying Stow links..."
(cd $DOTS \
  && apply ncmpcpp \
  && apply vifm \
  && apply .x \
  && apply tmux \
  && apply vim \
  && apply zsh \
  && apply awm-m3 \
  && apply_theme "$NEW_AWM_THEME"
)

# wallpapers and vimcolor
(cd $DOTS \
  && ./install --images --fonts --vim
)
