#!/usr/bin/env sh

set -o errexit -o nounset

# group_vars/desktop hash: {{ include "ansible/group_vars/desktop.yml.tmpl" | sha256sum }}
# dotfiles.yml hash: {{ include "ansible/dotfiles.yml" | sha256sum }}

playbook_dir=~/ansible

script_dir="{{ .chezmoi.sourceDir }}/scripts"

. "$script_dir/lib.sh"

msg "Execute ansible playbook dotfiles.yml..."

cd "$playbook_dir"

ansible-playbook --inventory hosts --ask-become-pass dotfiles.yml
