#!/usr/bin/env sh

set -o errexit

DIR="${HOME}/.config/awesome/config"
DEST="$DIR/env.lua"

[ -d "$DIR" ] || mkdir -p "$DIR"

cat >"$DEST" <<EOF
terminal = os.getenv("TERMINAL") or "xst"
terminal_cmd = terminal .. " -e "
editor = "{{ .editor }}"
editor_cmd = terminal_cmd .. editor
{{- if eq .sound "alsa" }}
  {{- if eq .chezmoi.osRelease.id "arch" }}
web_browser = "brave"
  {{- else if eq .chezmoi.osRelease.id "void" }}
web_browser = "firefox"
  {{- else }}
web_browser = "brave-bin"
  {{- end }}
{{ else }}
web_browser = "firefox-bin"
{{ end -}}

file_browser = terminal_cmd .. "vifm"
terminal_args = { " -c ", " -e " }
sound_system = "{{ .sound }}"
sound_card = "{{ .sound_card }}"
cpu_core = $(nproc)
password = "awesome"
EOF
