#!/usr/bin/env sh

set -o errexit -o nounset

echo "Execute $0..."

zsh=/bin/zsh

if ! grep "^$USER" /etc/passwd | grep -q zsh ; then
  chsh -s "$zsh"
fi

echo "You probably need to logout and back if zsh was not your shell before."
echo ""
echo "To start awesome, enter the command: startx"
echo "Good luck"
echo ""
