#!/usr/bin/env sh

set -o errexit

SWAY_DIR="$HOME/.config/sway"
SWAY_CONF="$SWAY_DIR/theme"
DEFAULT_THEME="jinx"

trim_string() {
    trim=${1#${1%%[![:space:]]*}}
    trim=${trim%${trim##*[![:space:]]}}
    printf '%s' "$trim"
}

detect_sway_theme() {
    if THEME=$(grep "^set \$theme " "$SWAY_CONF" | awk '{print $3}'); then
        return 0
    else
        return 1
    fi
}

change_default_sway() {
    if [ -d "$SWAY_DIR" ]; then
        if [ -f "$SWAY_CONF" ]; then
            if detect_sway_theme; then
                DEFAULT_THEME="$THEME"
            fi
        fi
    fi
}

# base arguments
args="--purge --zsh --ncmpcpp"

{{- if eq .editor "neovim" }}
args="$args --tmux --neovim"
{{- end }}

{{- if eq .editor "doom" }}
args="$args --doomemacs"
{{- end }}

{{- if eq .wm "swayfx" }}
change_default_sway
args="$args --wezterm --foot --swayfx $DEFAULT_THEME"
{{- end }}

{{- if eq .wm "awm-m3" }}
if [ -f /tmp/awm-m3 ] ; then
    theme="$(cat /tmp/awm-m3)"
    theme="$(trim_string $theme)"
else
    theme="focus"
fi
[ -z "$theme" ] && theme=focus
args="$args --awesome-m3 $theme"
{{- end }}

{{- if eq .wm "awm-m2" }}
if [ -f /tmp/awesome-theme ] ; then
    theme="$(cat /tmp/awesome-theme)"
    theme="$(trim_string $theme)"
else
    theme="machine"
fi
[ -z "$theme" ] && theme=machine
args="$args --awesome-m2 $theme"
{{- end }}

echo "called with args: $args"

~/.dotfiles/stow.sh $args
