---
#####################
#  DISPLAY MANAGER  #

# custom tool https://github.com/szorfein/reaver
# just avoid to download all the archives aith Ansible, it's too horrible...
dm_reaver_dir: ~/.cache/reaver/display-manager

# 'sddm' or 'lightdm' or ''
{{ if eq .dm "sddm" "lightdm" -}}
dm_use: {{ .dm | quote }}
{{ end -}}

dm_sddm_theme:
  name: delicious
  archive: delicious.tar.gz
  background_dir: background # each theme has a custom name, sometime is bg, bgs, backgrounds, etc...

dm_sddm_backgrounds:
  - sddm-backgrounds.tar.gz

dm_sddm_theme_customize:
  - regexp: '^background='
    line: 'background=glitch.mp4'
  - regexp: '^glowcolor='
    line: 'glowcolor=#BBA33393'
  - regexp: '^iconoverlay='
    line: 'iconoverlay=#FF000000'

dm_lightdm_theme:
  name: litarvan
  archive: lightdm-webkit-theme-litarvan.tar.gz

##############
#  DOTFILES  #

dotfiles_stow_dir: ~/.dotfiles
dotfiles_stow_dir_theme: ~/.dotfiles/themes

dotfiles_awm: true
dotfiles_awm_stow_dir: awesomewm
dotfiles_awm_default_theme: miami

{{ if eq .sound "alsa" "pulseaudio" -}}
dotfiles_audio_backend: {{ .sound }}
{{ end -}}

dotfiles_emacs_doom: true

dotfiles_external: true
dotfiles_external_font_reaver_cache_dir: ~/.cache/reaver/fonts
dotfiles_external_font_reaver_items:
  - cyberpunk.zip
  - material-design.zip
  - dot-fonts.zip
  - space-mono.zip

dotfiles_external_wallpaper_items:
  - name: wallpaper
    url: https://github.com/szorfein/walls/archive/main.zip
    hash: 17d060a4f0fa4fda45466a3afac79f728bf6434e75d3b22d92925f5087299933

{{ if eq .gpu "intel_gen7" "intel" "nouveau" -}}
dotfiles_gpu_driver: {{ .gpu }}
{{ end -}}

dotfiles_mpd: true
dotfiles_mpd_music_dir: ~/musics

dotfiles_neomutt: true
dotfiles_neomutt_mail_dir: ~/.mail
dotfiles_neomutt_accounts_dir: [ 'Personal' ]

dotfiles_tmux: true
dotfiles_tmux_stow_dir: tmux

dotfiles_vifm: true
dotfiles_vifm_stow_dir: vifm

dotfiles_vim: true
dotfiles_vim_stow_dir: vim
dotfiles_vim_reaver_cache_dir: ~/.cache/reaver/vim
dotfiles_vim_reaver_items:
  - ale.tar.gz
  - colorizer.tar.gz
  - indentLine.tar.gz
  - lightline.tar.gz
  - lightline-bufferline.tar.gz
  - nerdtree.tar.gz
  - ombre.tar.gz
  - tmuxline.tar.gz
  - vim-devicons.tar.gz
  - vim-gitbranch.tar.gz
  - vim-gitgutter.tar.gz
  - vim-tmux-navigator.tar.gz

{{ if ne .keymap "en" }}
dotfiles_xorg_keymap: {{ .keymap }}
{{ end }}
dotfiles_xorg_stow_dir: .x
dotfiles_xst: true

dotfiles_zsh: true
dotfiles_zsh_stow_dir: zsh

#################
#  WEB BROWSER  #

{{ if eq .web "brave" }}
web_browser_brave: true
{{ else if eq .web "librewolf" }}
web_browser_librewolf: true
{{ end }}
