---
#####################
#  DISPLAY MANAGER  #

# custom tool https://github.com/szorfein/reaver
# just avoid to download all the archives with Ansible, it's too horrible...
dm_reaver_dir: ~/.cache/reaver/display-manager

# 'sddm', 'lightdm', 'lxdm' or ''
# Don't choose 'lightdm' for Gentoo, all dependencies will not compile
{{ if eq .dm "sddm" "lightdm" "lxdm" -}}
dm_use: {{ .dm | quote }}
{{ end -}}

dm_sddm_theme:
  name: delicious
  archive: delicious.tar.gz
  background_dir: background # each theme has a custom name, sometime is bg, bgs, backgrounds, etc...

dm_sddm_backgrounds:
  - sddm-backgrounds.tar.gz

# background= glitch.mp4, animation.mp4, abstract.mp4
# Animated bg from https://github.com/szorfein/dm-background/tree/sddm
dm_sddm_theme_customize:
  - regexp: '^background='
    line: 'background=abstract.mp4'
  - regexp: '^glowcolor='
    line: 'glowcolor=#BBA33393'
  - regexp: '^iconoverlay='
    line: 'iconoverlay=#FF000000'
  - regexp: '^sessions='
    line: 'sessions="sway,awesome"'

dm_lightdm_theme:
  name: litarvan
  archive: lightdm-webkit-theme-litarvan.tar.gz

dm_lightdm_backgrounds:
  - ~/.cache/reaver/awesome/wallpapers.zip

dm_lxdm_backgrounds:
  - ~/.cache/reaver/awesome/wallpapers.zip

##############
#  DOTFILES  #

{{ if eq .wm "awm-m2" "awm-m3" "swayfx" -}}
dotfiles_wm: {{ .wm | trim }}
{{ end -}}

{{ if eq .sound "alsa" "pulseaudio" -}}
dotfiles_audio_backend: {{ .sound }}
{{ end -}}

# update font-cache
dotfiles_external: true

# nnn + Thunar (alsa) or Nemo (pulse)
dotfiles_files_browser: true

{{ if eq .gpu "intel_gen7" "intel" "nouveau" -}}
dotfiles_gpu_driver: {{ .gpu }}
{{ end }}

dotfiles_mpd: true
dotfiles_mpd_music_dir: ~/musics

dotfiles_neomutt: true
dotfiles_neomutt_mail_dir: ~/.mail
dotfiles_neomutt_accounts_dir: [ 'Personal' ]

{{ if eq .editor "doom" -}}
dotfiles_emacs_doom: true
{{ end -}}

{{ if eq .editor "neovim" -}}
dotfiles_tmux: true
dotfiles_neovim: true
{{ end -}}

{{ if eq .wm "swayfx" -}}
# dotfiles_wezterm: true
dotfiles_foot: true
{{ else -}}
dotfiles_xst: true
{{ end -}}

{{ if ne .keymap "en" -}}
dotfiles_xorg_keymap: {{ .keymap }}
{{ end -}}

# Zsh
dotfiles_zsh: true

#################
#  WEB BROWSER  #

{{ if eq .web "brave" -}}
web_browser_brave: true
{{ else if eq .web "librewolf" -}}
web_browser_librewolf: true
{{ end -}}
