---
# Configuring collection
# https://github.com/szorfein/ansible-collection-privacy

# Generic hostname
os_hostname: true
os_hostname_value: host

# Random mac address
os_mac_change: true

# Whonix ID
# https://github.com/Whonix/dist-base-files/blob/master/etc/machine-id
os_machine_id: true
os_machine_id_value: b08dfa6083e7567a1921a715000001fb

# Generic timezone, whonix use UTC, tails use GMT
os_timezone: true
os_timezone_value: GMT
