HashKnownHosts no

# https://puppet.com/blog/speed-up-ssh-by-reusing-connections/
Host github.com
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 600
  IdentitiesOnly yes
  IdentityFile ~/.ssh/laptop-git

Host 127.0.0.1
  IdentitiesOnly yes
{{ if .secrets }}
  IdentityFile ~/.ssh/ansible.pub
{{ else }}
  IdentityFile ~/.ssh/ansible
{{ end }}
