## Personal Email Account

{{ if .secrets }}
## Incoming
set imap_user = {{ (passFields "mail/personal").user | trim }}
set folder = +Personal
set from = {{ (passFields "mail/personal").user | trim | quote }}
set envelope_from
set use_from = "yes"
set spoolfile = +Inbox
set postponed = +Drafts
set mbox = +Archive
set record = +Sent
set trash = +Trash

## Outgoing
set realname = {{ (passFields "mail/personal").name | trim }}
set from = $imap_user
set smtp_url = 'smtp://{{ (passFields "mail/personal").smtp | trim }}'
set smtp_pass = '{{ (passFields "mail/personal").pass | trim }}'
set ssl_force_tls
set ssl_starttls

## Folders
account-hook $folder "set imap_user={{ (passFields "mail/personal").user | trim
-}}"
{{ end }}
