---
dotfiles_shell: true
dotfiles_shell_plugin_items:
  - { src: 'https://github.com/spaceship-prompt/spaceship-prompt/archive/refs/tags/v4.10.1.tar.gz',
      dest: ~/.oh-my-zsh/custom/themes/spaceship-prompt }
dotfiles_shell_plugin_link_items:
  - { src: ~/.oh-my-zsh/custom/themes/spaceship-prompt/spaceship.zsh-theme,
      dest: ~/.oh-my-zsh/custom/themes/spaceship.zsh-theme }
