---
dotfiles_stow_dir: ~/.dotfiles

{{ if eq .system.sound "alsa" -}}
dotfiles_audio_backend: alsa
{{ end -}}

{{ if (and (hasKey .system "gpu") (ne .system.gpu "none")) -}}
dotfiles_gpu_driver: {{ .system.gpu }}
{{ end -}}

dotfiles_mpd: true
dotfiles_mpd_music_dir: ~/musics

dotfiles_zsh: true
dotfiles_zsh_plugin_items:
  - { src: 'https://github.com/spaceship-prompt/spaceship-prompt/archive/refs/tags/v4.10.1.tar.gz',
      dest: ~/.oh-my-zsh/custom/themes/spaceship-prompt }
dotfiles_zsh_plugin_link_items:
  - { src: ~/.oh-my-zsh/custom/themes/spaceship-prompt/spaceship.zsh-theme,
      dest: ~/.oh-my-zsh/custom/themes/spaceship.zsh-theme }

dotfiles_vim: true
dotfiles_vim_stow_dir: vim
dotfiles_vim_plugin_items:
  - szorfein/ombre.vim
  - edkolev/tmuxline.vim
  - dense-analysis/ale
  - ryanoasis/vim-devicons
  - lilydjwg/colorizer
  - Yggdroot/indentLine
  - mengelbrecht/lightline-bufferline
  - airblade/vim-gitgutter
  - christoomey/vim-tmux-navigator
  - itchyny/lightline.vim
  - itchyny/vim-gitbranch
  - preservim/nerdtree

dotfiles_xorg: true
dotfiles_xorg_stow_dir: .x
