# mailboxes: https://sandyuraz.com/blogs/better_mutt/
# config: https://gideonwolfe.com/posts/workflow/neomutt/intro/
# config: https://www.abdus.net/blog/2020/neomutt-the-command-line-email-client/
# disroot: https://howto.disroot.org/en/tutorials/email/clients/desktop/mutt
# nice color: https://github.com/dracula/mutt
# nice color: https://github.com/arcticicestudio/nord/issues/128

#####################
#  General Options  #
#####################

{{ if eq .editor "neovim" -}}
set editor="nvim -c 'set syntax=mail ft=mail enc=utf-8'"
{{ else if eq .editor "vim" -}}
set editor="vim -c 'set syntax=mail ft=mail enc=utf-8'"
{{ end -}}

ignore *
unignore from: to: cc: date: subject:
hdr_order from: to: cc: date: subject:
set index_format="%4C %Z %{%b %d} %-16.16L  %s"

set delete = yes           # Don't ask
set fcc_attach             # save attachments with the body

unset wait_key

set mail_check = 0

# Disable features
unset confirmappend
unset copy
unset metoo                # Remove me from CC headers.
set move = no              # Don't use mbox
set nohelp                 # No help line.
unset mark_old
unset sort_re
unset use_domain
unset user_agent
unset record
set nobeep      # Shup up. ;-)

##################
#  Key Bindings  #
##################

# Vi Key Bindings
bind attach,browser,index g noop
bind attach,browser,index gg first-entry
bind attach,browser,index G last-entry
bind pager g noop
bind pager gg top
bind pager G bottom
bind pager k previous-line
bind pager j next-line

bind attach,browser,pager,index \CF next-page
bind attach,browser,pager,index \CB previous-page
bind attach,browser,pager,index \Cu half-up
bind attach,browser,pager,index \Cd half-down
bind browser,pager \Ce next-line
bind browser,pager \Cy previous-line
bind index \Ce next-line
bind index \Cy previous-line

bind pager,index d noop
bind pager,index dd delete-message

# menu for encryp or not a mail when compose
bind compose p pgp-menu

#########
#  GPG  #
#########

setenv PINENTRY_USER_DATA curses

{{- if .secrets }}
set crypt_use_gpgme = yes

# Capability key [C]
set pgp_default_key = {{ .key_recipient }}
# sign key [S]
set pgp_sign_as = {{ .key_sign }}
# encrypt key [E]
set pgp_self_encrypt_as = {{ .key_encrypt }}
{{- end }}

set pipe_decode # Decode messages I pipe to commands, typically to patch
set crypt_autosign
set crypt_replyencrypt
set crypt_replysignencrypted
set crypt_verify_sig

# copy file from /usr/share/doc/mutt/samples/gpg.rc
#source ~/.config/neomutt/gpg.rc

# Status bar
set status_chars=" *%A"
#set status_format="───[ Folder: %f ]───[%r%m messages%?n? (%n new)?%?d? (%d to delete)?%?t? (%t tagged)? ]───%>─%?p?( %p postponed )?───"

# Index view
set sort=threads
set sort_aux=reverse-last-date-received
set uncollapse_jump
set strict_threads
set thorough_search

##########################
#  Compose view options  #
##########################

set askcc         # Ask for CC:
set edit_headers  # I want to edit the headers.
set envelope_from
set fast_reply
set forward_format = "Fwd: %s"
set forward_quote
set include
set hidden_host
set mime_forward = ask-no
set reply_to
set reverse_name

# Colors
source ~/.config/neomutt/colors
source ~/.config/neomutt/symbols

################
#  Mutt Pager  #
################

set pager_index_lines = 10  # Shows 10 lines of index when pager is active
set pager_context = 3
set pager_stop
set menu_scroll
set tilde
unset markers               # Don't mark wrapper lines

##################
#  Mutt Sidebar  #
##################

set sidebar_visible
set sidebar_short_path

# Toggle sidebar visible with b
macro index b '<enter-command>toggle sidebar_visible<enter><refresh>'
macro pager b '<enter-command>toggle sidebar_visible<enter><redraw-screen>'

# Uncomment these if sidebar patch is installed
bind index,pager \CP sidebar-prev # Ctrl-n to select next folder
bind index,pager \CN sidebar-next # Ctrl-p to select previous folder
bind index,pager \CO sidebar-open # Ctrl-o to open selected folder

#################
#  IMAP: isync  #
#################

set mbox_type = Maildir
set folder    = ~/.mail
set spoolfile = ""
set record    = ""
set postponed = ""
set trash     = ""

set mailcap_path = ~/.config/neomutt/mailcap # filetypes, w3m for html, etc

##############
#  Accounts  #
##############

# last is default

source ~/.config/neomutt/accounts/Personal
folder-hook $folder 'source ~/.config/neomutt/accounts/Personal'

###############
#  Mailboxes  #
###############

source ~/.config/neomutt/mailboxes
