music_directory    "~/musics"
playlist_directory "~/.config/mpd/playlists"
db_file	    "~/.config/mpd/database"
log_file    "syslog"
pid_file    "~/.config/mpd/pid"
state_file  "~/.config/mpd/state"
save_absolute_paths_in_playlists  "yes"
auto_update  "yes"
#mixer_type "software"
filesystem_charset "UTF-8"

{{ if eq .chezmoi.username "daggoth" }}
audio_output {
  type  "alsa"
  name  "Pro"
  device "softvol"
  #buffer_time "2000000"
}
{{ else if eq .sound "alsa" }}
audio_output {
  type  "alsa"
  name  "alsa card"
  #server  "127.0.0.1"
  #buffer_time "2000000"
}
{{ end }}

# Fifo for cava
audio_output {
  type        "fifo"
  name        "my_fifo"
  path        "/tmp/mpd.fifo"
  format      "44100:16:2"
}
