[Desktop Entry]
Version=1.0
Type=Application
Name=Zathura
Comment=A minimalistic document viewer
Exec=zathura %U
Terminal=false
NoDisplay=true
Categories=Office;Viewer;
MimeType=application/pdf;application/oxps;application/epub+zip;
