[Desktop Entry]
Version=1.0
Type=Application
Name[ar]=Zathura
Name[ca]=Zathura
Name[cs]=Zathura
Name[de]=Zathura
Name[el]=Zathura
Name[eo]=Zathura
Name[es]=Zathura
Name[es_CL]=Zathura
Name[fr]=Zathura
Name[he]=Zathura
Name[id_ID]=Zathura
Name[it]=Zathura
Name[lt]=Zathura
Name[nl]=Zathura
Name[no]=Zathura
Name[pl]=Zathura
Name[pt_BR]=Zathura
Name[ru]=Zathura
Name[sv]=Zathura
Name[ta_IN]=Zathura
Name[tr]=Zathura
Name[uk_UA]=Zathura
Name=Zathura
Comment[ar]=عارض وثائق الحد الأدنى
Comment[ca]=Un visualitzador de documents minimalista
Comment[cs]=Jednoduchý prohlížeč dokumentů
Comment[de]=Ein minimalistischer Dokumenten-Betrachter
Comment[el]=Ένας ελαφρύς προβολέας κειμένων
Comment[eo]=Malpeza dokumento spektanto
Comment[es_CL]=Un visor de documentos minimalista
Comment[fr]=Un visionneur de document minimaliste
Comment[he]=מציג מסמכים מינימליסטי
Comment[id_ID]=Pembaca dokumen minimalis
Comment[it]=Un visualizzatore di documenti minimalista
Comment[lt]=Paprasta dokumentų skaitytuvė
Comment[nl]=Een minimalistische documentweergave-applicatie
Comment[no]=En minimalistisk dokumentleser
Comment[pl]=Minimalistyczna przeglądarka dokumentów
Comment[pt_BR]=Um visualizador de documentos minimalista
Comment[ru]=Минималистичный просмотрщик документов
Comment[sv]=En minimalistisk dokumentvisare
Comment[tr]=Minimalist bir belge görüntüleyicisi
Comment[uk_UA]=Легкий переглядач документів
Comment=A minimalistic document viewer
Exec=zathura %U
# Translators: Icon of the desktop entry.
Icon[ar]=org.pwmt.zathura
Icon[cs]=org.pwmt.zathura
Icon[it]=org.pwmt.zathura
Icon[nl]=org.pwmt.zathura
Icon[ru]=org.pwmt.zathura
Icon[sv]=org.pwmt.zathura
Icon=org.pwmt.zathura
Terminal=false
Categories=Office;Viewer;
# Translators: Search terms to find this application. Do not translate or
# localize the semicolons. The list must also end with a semicolon.
Keywords[cs]=PDF;PS;PostScript;DjVU;dokument;představení;prohlížeč;
Keywords[de]=PDF;Ps;PostScript;DjVU;Dokumente;Presentation;Betrachter;
Keywords[it]=PDF;PS;PostScript;DjVU;documenti;presentazioni;lettore;
Keywords[nl]=PDF;PS;PostScript;DjVU;document;presentatie;weergave;
Keywords[ru]=PDF,PS,PostScript,DjVU,документ,презентация,просмотрщик;
Keywords[sv]=PDF;PS;PostScript;DjVU;dokument;presentation;visare;
Keywords=PDF;PS;PostScript;DjVU;document;presentation;viewer;
NoDisplay=true
