{{- if eq .theme "sci" -}}
* {
  xfont: "Iosevka Light 12";
  xfont-entry: "Iosevka Regular 12";
  xbg: #161D23; // theme3
  xfg: #e3fafeaa; // theme6
  xbg-sel: #4EDAFE11; // theme8 
  xfg-sel: #4EDAFE; // theme8 
  xred: #172028; // theme4
}
{{ end }}
