[general]
mode = normal
sensitivity = 450
framerate = 60
autosens = 1
lower_cutoff_freq = 50
higher_cutoff_freq = 10000 

[input]
{{ if eq .system.sound "alsa" }}
method = alsa
{{ end }}
{{ if eq .system.sound "pulseaudio" }}
method = pulse
{{ end }}
{{ if eq .chezmoi.username "daggoth" }}
source = hw:Pro
{{ end }}

method = fifo
source = /tmp/mpd.fifo

[output]
method = ncurses
style = stereo

[color]
; gradient = 0 for xst, 3 for other terms
gradient = 0
{{ if eq .theme "sci" }}
gradient_color_1 = '#4E88F3' #base
gradient_color_2 = '#5DA6FF' #top
{{ end }}

[smoothing]

[eq]
1=1
2=1
3=1
4=1
5=1
