-- terminal
terminal = os.getenv("TERMINAL") or "xst"
terminal_cmd = terminal .. " -e "

-- editor
editor = os.getenv("EDITOR") or "vim"
editor_cmd = terminal .. " -e " .. editor

-- web browser
web_browser = "brave-sec" -- Your web browser here, firefox, brave, chromium...

-- file browser
file_browser = "vifm" -- terminal app only, nnn, ranger, vifm...

-- Bellow are arguments to call a <class> and <exec> a program by terminal
-- post an issue if your terminal is not listed or to add new

-- for xst
terminal_call = { " -c ", " -e " }
-- for rxvt
-- terminal_call = { " -T ", " -e " }

-- for kitty
-- terminal_call = { " --class=" , " -e " }

-- {{{ Monitoring
net_device = "wlp2s0" -- interface you want track, only one for now

-- Add files system you want to track, the line bellow match with:
-- /home/yagdra, /opt/musics and /opt/torrents, look with the tool 'df'
disks = { "yagdra", "musics", "torrents" }

-- battery TODO: default should be AC
env.battery = "BAT0" -- name is in /sys/class/power_supply/

-- }}} End Monitoring

-- {{{ Sound Settings
-- choose alsa or pulseaudio, alsa will use amixer and pulseaudio pactl
sound_system = "alsa" -- "alsa" or "pulse" here.
sound_card = "hw:Pro" -- Your card here, for pulse, the default @DEFAULT_SINK@ is used. For alsa, card name can be looked with: cat /proc/asound/cards

-- }}} End Sound Setting

-- Lock screen TODO: use PAM
password = "awesome" -- password for the lock screen
