[Unit]
Description=Fetch mail with fdm
After=network.target network-online.target
Documentation=man:fdm(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/fdm fetch
