{{ if eq .gpu "intel_gen7" -}}
hwdec=vaapi-copy
vo=gpu
{{ else -}}
hwdec=auto
{{ end -}}

{{ if eq .wm "swayfx" -}}
# Sway (Wayland)

gpu-context=wayland
script=/usr/lib/mpv-mpris/mpris.so

{{ if eq .sound "alsa" -}}
ao=pipewire
{{ end -}}

{{ else -}}
# awesome (Xorg)

{{ if eq .sound "alsa" -}}
ao=alsa
{{ end -}}

{{ end -}}

profile=fast
auto-window-resize=no

#geometry=40%:40%
autofit-smaller=40%
autofit-larger=40%
