[Unit]
Description=Fetch mail with fdm

[Timer]
# Run 5m after booting
OnBootSec=5m
OnUnitActiveSec=15m
Persistent=true

[Install]
WantedBy=timers.target
