;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

(setq user-full-name "{{ .github.name }}"
      user-mail-address "{{ .github.email }}"
      default-directory "~/"
      command-line-default-directory "~/")

(setq doom-font (font-spec :family "Iosevka" :size 12))

;; There are two ways to load a theme. Both assume the theme is installed and
;; available. You can either set `doom-theme' or manually load a theme with the
;; `load-theme' function. This is the default:
(setq doom-theme 'doom-one)

;; If you use `org' and don't want your org files in the default location below,
;; change `org-directory'. It must be set before org loads!
(setq org-directory "~/org/")

(setq display-line-numbers-type t)
