;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

(setq user-full-name "{{ .name }}"
      user-mail-address "{{ .email }}")

(setq doom-font (font-spec :family "Iosevka Term" :size 14))
(setq display-line-numbers-type t)

;; There are two ways to load a theme. Both assume the theme is installed and
;; available. You can either set `doom-theme' or manually load a theme with the
;; `load-theme' function. This is the default:
(setq doom-theme 'doom-shadow)

;; If you use `org' and don't want your org files in the default location below,
;; change `org-directory'. It must be set before org loads!
(after! org
:config
(setq org-directory "~/documents/org")
(setq org-noter-property-note-location (concat org-directory "/notes/"))
(setq org-noter-notes-search-path (concat org-directory "/notes/"))
(setq org-journal-dir (concat org-directory "/journal/")))

(setq projectile-project-search-path '("~/labs/"))
